<% content_for :title, "Editing memo" %>

<h1>Editing memo</h1>

<%= render "form", memo: @memo %>

<br>

<div>
  <%= link_to "Show this memo", @memo %> |
  <%= link_to "Back to memos", memos_path %>
</div>
